@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-cus {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 767px) {
  .bg-cus {
    background-position: right;
  }
}

.bg-cus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #111112 0%, rgba(17, 17, 18, 0) 100%);
}

.backdrop {
  backdrop-filter: blur(8px);
}

.jersey-bg {
  background-image: url("../assets/images/personalization.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Slider CSS Override */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.slick-prev {
  display: none !important;
}

.slick-slide {
  width: 240px !important;
  margin-right: 32px;
}

.slick-list {
  overflow: unset !important;
}

.slick-track {
  min-width: 1700px !important;
}

.slick-slider {
  position: unset !important;
}
